<h1 style="text-align: center;">Islam's todo list</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-xl-6">

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Add your todo" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="newTodo">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"(click)="saveTodo()" >Add todo</button>
      </div>


      <table class="table table-striped">

        <tbody>
          <tr *ngFor="let todo of todos; let i =index">
            <th scope="row">{{i+1}}</th>
            <td class="{{(todo.completed)?'fineshed':'' }}">{{todo.title}}</td>
            <td style="color: green;"(click)="fineshed(i)">   check</td>
            <td style="color: green;"(click)="addTodoToFav(i)">Favorit</td>
            <td style="color: red;" (click)="remove(i)">x</td>

          </tr>

        </tbody>
      </table>


    </div>
  </div>
</div>